@import url("https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Poppins:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('bg.png.jpg') no-repeat center;
    background-size: cover;
    text-shadow: 0 0 25px white, 0 0 50px white, 0 0 100px white;
    color: #fff6a9;
    text-align: center;
}

#newyear {
    font-size: 8rem;
    font-family: "Bilbo Swash Caps", cursive;
    letter-spacing: 0.5rem;
    color: #fff;
    font-weight: bold;
}

#year {
    font-family: "Neonderthaw", "Poiret One", cursive;
    color: #fff;
    font-size: 11rem;
}

button {
    width: 20rem;
    font-size: 2.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    border: none;
    padding: 1rem;
    font-family: 'Allerta Stencil', sans-serif;
    outline: 4px solid white;
    outline-offset: 0.4rem;
    margin-top: 4rem;
    background-color: #fff;
    box-shadow: 0 0 25px white, 0 0 50px white, 0 0 100px white;
}

button:hover {
    cursor: pointer;
    outline-offset: 0.3rem;
    letter-spacing: 0.1rem;
    transition: all 0.4s;
}

@media screen and (max-width:767px) {
    #newyear {
        letter-spacing: 0.3rem;
        color: #fff;
        font-size: 4.5rem;
        font-weight: bold;
    }
    #year {
        font-family: "Neonderthaw", "Poiret One", cursive;
        color: #fff;
        font-size: 6rem;
    }
    button {
        width: 15rem;
        font-size: 2rem;
    }
    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: url('bg.png.jpg') no-repeat;
        background-size: cover;
        text-shadow: 0 0 25px white, 0 0 50px white, 0 0 100px white;
        color: #fff6a9;
        text-align: center;
    }
}

.snowflake {
    color: #fff;
    font-size: 2rem;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #fff;
}

.snowflake,
.snowflake .inner {
    animation-iteration-count: infinite;
    animation-play-state: running
}

@keyframes snowflakes-fall {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(110vh)
    }
}

@keyframes snowflakes-shake {
    0%,
    100% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(80px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    animation-name: snowflakes-shake;
    animation-duration: 3s;
    animation-timing-function: ease-in-out
}

.snowflake .inner {
    animation-duration: 8s;
    animation-name: snowflakes-fall;
    animation-timing-function: linear
}

.snowflake:nth-of-type(0) {
    left: 1%;
    animation-delay: 0s
}

.snowflake:nth-of-type(0) .inner {
    animation-delay: 0s
}

.snowflake:first-of-type {
    left: 10%;
    animation-delay: 1s
}

.snowflake:first-of-type .inner,
.snowflake:nth-of-type(8) .inner {
    animation-delay: 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    animation-delay: .5s
}

.snowflake:nth-of-type(2) .inner,
.snowflake:nth-of-type(6) .inner {
    animation-delay: 6s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    animation-delay: 2s
}

.snowflake:nth-of-type(11) .inner,
.snowflake:nth-of-type(3) .inner {
    animation-delay: 4s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    animation-delay: 2s
}

.snowflake:nth-of-type(10) .inner,
.snowflake:nth-of-type(4) .inner {
    animation-delay: 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    animation-delay: 3s
}

.snowflake:nth-of-type(5) .inner {
    animation-delay: 8s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    animation-delay: 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    animation-delay: 1s
}

.snowflake:nth-of-type(7) .inner {
    animation-delay: 2.5s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    animation-delay: 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    animation-delay: 1.5s
}

.snowflake:nth-of-type(9) .inner {
    animation-delay: 3s
}

.snowflake:nth-of-type(10) {
    left: 25%;
    animation-delay: 0s
}

.snowflake:nth-of-type(11) {
    left: 65%;
    animation-delay: 2.5s
}